

    
<div id="carouselExampleFade" class="carousel slide carousel-fade " data-bs-ride="carousel" style="height: 500px;" >
    <div class="carousel-inner h-100" >
      <div class="carousel-item active h-100 " style="background-image: linear-gradient(90deg, rgba(27,62,50,1) 49%, rgba(58,185,107,1) 90%);" >
        <img src="/img/slide.jpg" class="d-block w-100 h-100 opacity-75"  alt="...">
        <div class="carousel-caption d-none d-md-block position-absolute ">
            <p class=""><span class="someTi"><b>Monitoreos</b></span></p>
            <p class=""><span class="someT">Ambientales</span></p> 
            <button type="button" class="btn btn-info fs-5">Mas informacion</button>
        </div>
      </div>
      <div class="carousel-item h-100" style="background-image: linear-gradient(90deg, rgba(0,0,0,1) 31%, rgba(0,0,0,1) 34%, rgba(0,0,0,1) 37%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 42%, rgba(40,161,119,1) 55%, rgba(0,212,255,1) 98%);" >
        <img src="/img/slide2.jpg" class="d-block w-100 h-100 opacity-75" alt="...">
        <div class="carousel-caption d-none d-md-block position-absolute ">
            <p class=""><span class="someTi"><b>CALIDAD</b></span></p>
            <p class=""><span class="someT">  DE AIRE  </span></p> 
            <button type="button" class="btn btn-info">Mas informacion</button>
        </div>
    </div>
      <div class="carousel-item h-100" style="background-image: linear-gradient(90deg, rgba(0,0,0,1) 31%, rgba(0,0,0,1) 34%, rgba(0,0,0,1) 37%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 42%, rgba(40,161,119,1) 55%, rgba(0,212,255,1) 98%);">
        <img src="/img/slide3.jpg" class="d-block w-100 h-100 opacity-75" alt="...">
        <div class="carousel-caption d-none d-md-block position-absolute ">
            <p class=""><span class="someTi"><b>MIMICIONES</b></span></p>
            <p class=""><span class="someT">  RAPIDAS  </span></p> 
            <button type="button" class="btn btn-info">Mas informacion</button>
        </div>
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



<section>
    <br><br><br><br><br><br><br>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit quidem, rerum eos assumenda, laborum sequi ad velit temporibus officia neque eveniet reiciendis mollitia recusandae perferendis, cumque tempore ipsum soluta tempora.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum sed id quos. Cupiditate incidunt quos explicabo fugit consectetur numquam accusamus! Sed impedit atque et velit provident cum, magnam illo amet.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem eum consequatur quae nihil aperiam rerum sed velit nisi. Quod velit consequuntur totam aliquam libero ipsam explicabo optio voluptatum officia reiciendis!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam magnam sit reprehenderit culpa quaerat obcaecati libero repellat placeat, quam vero deserunt eum corporis doloremque ab consequatur inventore aliquam natus possimus!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi dolores, necessitatibus commodi recusandae cum provident delectus eveniet beatae vitae aut repudiandae, porro ipsam dicta repellat, quae unde nesciunt hic modi!

</section>


  


<!--    Submit section -->

<section class="px-5 py-5 my-5 text-center">
<img class="d-block mx-auto mb-4 img-fluid" src="/img/publish2.png" alt="Publish" width="566" height="208" loading="lazy">
<h1 class="display-5 fw-bold">Publish</h1>
<div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
        Publish anything you want here.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/submit-article" class="btn btn-primary btn-dark btn-lg">Submit</a>
    </div>
</div>
</section>


<!--    Submit section -->
<script src="/js/script.js"></script>