

    




<section>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit quidem, rerum eos assumenda, laborum sequi ad velit temporibus officia neque eveniet reiciendis mollitia recusandae perferendis, cumque tempore ipsum soluta tempora.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum sed id quos. Cupiditate incidunt quos explicabo fugit consectetur numquam accusamus! Sed impedit atque et velit provident cum, magnam illo amet.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem eum consequatur quae nihil aperiam rerum sed velit nisi. Quod velit consequuntur totam aliquam libero ipsam explicabo optio voluptatum officia reiciendis!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam magnam sit reprehenderit culpa quaerat obcaecati libero repellat placeat, quam vero deserunt eum corporis doloremque ab consequatur inventore aliquam natus possimus!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi dolores, necessitatibus commodi recusandae cum provident delectus eveniet beatae vitae aut repudiandae, porro ipsam dicta repellat, quae unde nesciunt hic modi!

</section>


  


<!--    Submit section -->

<section class="px-5 py-5 my-5 text-center">
<img class="d-block mx-auto mb-4 img-fluid" src="/img/publish2.png" alt="Publish" width="566" height="208" loading="lazy">
<h1 class="display-5 fw-bold">Publish</h1>
<div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
        Publish anything you want here.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/submit-article" class="btn btn-primary btn-dark btn-lg">Submit</a>
    </div>
</div>
</section>


<!--    Submit section -->