

    
<div id="carouselExampleFade" class="carousel slide carousel-fade " data-bs-ride="carousel" style="height: 600px;" >
    <div class="carousel-inner h-100" >
      <div class="carousel-item active h-100 "  >
        <img src="/img/slide.jpg" class="d-block w-100 h-100  position-absolute top-0 start-0"  alt="...">
        <img src="/img/green.jpg" class="d-block w-25 h-100"  alt="...">
        <div class="carousel-caption d-none d-md-block position-absolute ">
            <p class="animate__animated animate__fadeInLeft animate__slow"><span class="someTi  "><b>Monitoreos</b></span></p>
            <p class="animate__animated animate__fadeInRight animate__slow"><span class="someT">Ambientales Certificados</span></p> 
            <!--    Paddin en x-3 pero solo RIGHT -->
            <button type="button" class="btn contac fs-5 animate__animated animate__bounceInLeft animate__slow">Mas información<i class="bi bi-chevron-double-right "></i></button>
        </div>
      </div>
      <div class="carousel-item h-100"  >
        <img src="/img/slide2.jpg" class="d-block w-100 h-100  position-absolute top-0 start-0" alt="...">
        <img src="/img/green.jpg" class="d-block w-25 h-100 "  alt="...">
        <div class="carousel-caption d-none d-md-block position-absolute ">
          <p class="animate__animated animate__fadeInLeft animate__slow"><span class="someTi"><b>Calidad</b></span></p>
          <p class="animate__animated animate__fadeInRight animate__slow"><span class="someT">y Control del Aire</span></p> 
          <button type="button" class="btn contac fs-5 animate__animated animate__bounceInLeft animate__slow">Mas información<i class="bi bi-chevron-double-right "></i></button>
        </div>
    </div>
      <div class="carousel-item h-100" >
        <img src="/img/aver.png" class="d-block w-100 h-100 position-absolute top-0 start-0" alt="...">
        <img src="/img/green.jpg" class="d-block w-25 h-100 "  alt="...">
        <div class="carousel-caption d-none d-md-block position-absolute ">
          <p class="animate__animated animate__fadeInLeft animate__slow"><span class="someTi"><b>Consultoria</b></span></p>
          <p class="animate__animated animate__fadeInRight animate__slow"><span class="someT">Ambiental Profesional</span></p> 
          <button type="button" class="btn contac fs-5 animate__animated animate__bounceInLeft animate__slow">Mas información<i class="bi bi-chevron-double-right "></i></button>
        </div>
    </div>
    </div>
    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



<section class="px-5 py-4 my-5 text-center">
    <h1 class="empresa text-success">SIMMAC CONSULTORIA</h1>
    <p class="py-4 Nosotros">SIMMAC, empresa que provee soluciones integrales en el rubro minero, ambiental y construcción. Ofreciendo  el  servicio de capacitación, consultoría, diseño, implementación, control, seguimiento y elaboración de estudios técnicos en; seguridad, salud ocupacional, socio ambiental y sistemas integrados de gestión, además de exploración, explotación, procesamiento de minerales y construcción de obras de edificación civil en todos los sectores económicos y de servicios.
    </br></br>SIMMAC tiene compromiso con sus clientes, ofreciendo servicios de calidad, respetando los Estándares de Seguridad y Salud en el sistema integrado de gestión, medio ambiente y responsabilidad social, usando herramientas administrativas dinámicas que permitan satisfacer sus necesidades y expectativas.</p>
    <div class="row py-4 imagesN">
      <div class="col-6 col-md-4 px-4"><img src="/img/foto0.png" class="d-block imageN w-100 h-100" alt=""></div>
      <div class="col-6 col-md-4 px-4"><img src="/img/foto1.jpg" class="d-block imageN w-100 h-100" alt=""></div>
      <div class="col-6 col-md-4 px-4"><img src="/img/foto4.jpg" class="d-block imageN w-100 h-100" alt=""></div>
    </div>
    <div class="py-5">
      <button class="BotonVerde" >LEER MAS</button>
    </div>
    

</section>


  


<!--    Services section -->

<!-- services section start -->

<section class="px-5 py-4 services " id="services">
  
  <div class="max-width py-5">
    
      <h2 class="title">My services</h2>
      <div class="serv-content py-3">
          <div class="card py-5">
              <div class="box">
                <i class="bi bi-binoculars-fill"></i>
                  <div class="text">Mineria</div>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p>
              </div>
          </div>
          <div class="card py-5">
              <div class="box">
                <i class="bi bi-battery-full"></i>
                  <div class="text">Medio Ambiente</div>
                  <p>Monitoreos y Estudios ambientales. Capacitaciones y cursos diferentes en Calidad de Aire.</p>
              </div>
          </div>
          <div class="card py-5">
              <div class="box">
                <i class="bi bi-building"></i>
                  <div class="text">Construccion</div>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p>
              </div>
          </div> 
    </div>
    <div class="serv-content py-5">
      <div class="card py-5">
          <div class="box">
            <i class="bi bi-binoculars-fill"></i>
              <div class="text">Seguridad</div>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p>
          </div>
      </div>
      <div class="card py-5">
          <div class="box">
            <i class="bi bi-battery-full"></i>
              <div class="text">Topografia</div>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p>
          </div>
      </div>
      <div class="card py-5">
          <div class="box">
            <i class="bi bi-building"></i>
              <div class="text">Appss Design</div>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p>
          </div>
      </div> 
</div>
      </div>
  
</section>


<!--    Submit section -->
<script src="/js/script.js"></script>