@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

:root{
    --bs-font-sans-serif: 'Open Sans', sans-serif;
    --bs-success: #55c08e; 

}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
    
}
 .services {
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: rgb(78, 230, 154);
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}
.services{
    color:#fff;
    background-image: url(../img/wall.jpg);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}


.services .title::before,
.teams .title::before{
    background: #fff;
}
.services .title::after,
.teams .title::after{
    background: #111;
    content: "what i provide";
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: #8ccfd6;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: #55c08e;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}



.empresa{
    color: rgb(0, 111, 93);
    font-weight: bold;
    
}
.imagesN{
    padding-left: 17%;
    padding-right: 17%;
    height: 300px;
    
}
.imageN{
    border-radius: 12px;
    
    
}
.BotonVerde{
    background-color: #516d4b;
    color: #fff;
    font-size: 17px;
    border-radius: 12px;
    padding: 15px 30px;
    border-style: solid;
    text-transform: uppercase;
    font-weight: bolder;
}
.Nosotros{
    padding-left: 17%;
    padding-right: 17%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.8
    
}
.contac{
    color: rgb(0, 111, 93);
    border-radius: 30px;
    border-color: rgb(255, 255, 255);
    padding: 12px 30px;
    padding-right: 27px!important;
    background-color: rgba(255, 255, 255);
    margin-top: 3%;
    
    
}
html{
    margin: 0;
    margin-left: 0%;
    margin-right: 0;
    
}

.bi-chevron-double-right{
    padding-left: 3px;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
    
}

.someT{
    
    box-shadow: 12px 0 0px 0px rgba(22, 22, 22, 0.7), -12px 0 0px 0px rgba(22, 22, 22, 0.7);
    font-size: 40px;
    text-align: center;
    background-color:rgba(22, 22, 22, 0.7);
    font-weight: bold;
    margin-left: 12px;
    
    
}

.someTi{
    
    box-shadow: 12px 0 0px 0px rgba(90, 196, 224, 0.7), -12px 0 0px 0px rgba(90, 196, 224, 0.7);
    font-size: 40px;
    background-color:rgba(90, 196, 224, 0.7);
    margin-left: 12px;

}
/*color: rgb(60,179,113);*/
.text-green-50{
    color: rgb(105, 136, 221);
    
}

.carousel-caption{
    left: 20%!important;
    right: 49%!important;
    top: 26%;
    text-align: left;
    
}

.button2{
    
    
    
    position:relative;
    
    
  }
  .hoverMebottom:after{
    position:absolute;
    top:100%;
    left:0%;
    width:0;
    height:2px;
    background:#222;
    display:block;
    content:'';
    transition: width 0.5s ease-in-out;
  }
  .hoverMebottom:hover:after{
    width:100%;
  }


.container-xxl{ max-width: 1350px;}
body{
    background-image: url("/img/bgN.jpg");
    background-color: rgb(243, 243, 243);
    
}

a {color:var(--bs-dark);}

/* Category Card */

.category__link {
    text-align: center;
    display: block;
    text-decoration: none;
    transition: 250ms all;

}

.category__link:hover{
    transform: scale(1.1);
}

.category__img{
    display: flex;
    justify-content: center;
    height: 100px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    overflow: hidden;
    border-radius: 8px;
}

.category__img img{
    width: 100%;
    object-fit: cover;
}

.category__img--large {
    height: 330px;
}