@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

:root{
    --bs-font-sans-serif: 'Open Sans', sans-serif;
    --bs-success: #55c08e; 

}
.contac{
    color: rgb(0, 111, 93);
    border-radius: 30px;
    border-color: rgb(255, 255, 255);
    padding: 12px 30px;
    padding-right: 27px!important;
    background-color: rgba(255, 255, 255);
    margin-top: 3%;
    
    
}
html{
    margin: 0;
    margin-left: 0%;
    margin-right: 0;
    
}

.bi-chevron-double-right{
    padding-left: 3px;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
    
}

.someT{
    
    box-shadow: 12px 0 0px 0px rgba(22, 22, 22, 0.7), -12px 0 0px 0px rgba(22, 22, 22, 0.7);
    font-size: 40px;
    text-align: center;
    background-color:rgba(22, 22, 22, 0.7);
    font-weight: bold;
    margin-left: 12px;
    
    
}

.someTi{
    
    box-shadow: 12px 0 0px 0px rgba(90, 196, 224, 0.7), -12px 0 0px 0px rgba(90, 196, 224, 0.7);
    font-size: 40px;
    background-color:rgba(90, 196, 224, 0.7);
    margin-left: 12px;

}
/*color: rgb(60,179,113);*/
.text-green-50{
    color: rgb(105, 136, 221);
    
}

.carousel-caption{
    left: 20%!important;
    right: 49%!important;
    top: 26%;
    text-align: left;
    
}

.button2{
    
    
    
    position:relative;
    
    
  }
  .hoverMebottom:after{
    position:absolute;
    top:100%;
    left:0%;
    width:0;
    height:2px;
    background:#222;
    display:block;
    content:'';
    transition: width 0.5s ease-in-out;
  }
  .hoverMebottom:hover:after{
    width:100%;
  }


.container-xxl{ max-width: 1350px;}
body{
    background-image: url("/img/bgN.jpg");
    background-color: rgb(243, 243, 243);
    
}

a {color:var(--bs-dark);}

/* Category Card */

.category__link {
    text-align: center;
    display: block;
    text-decoration: none;
    transition: 250ms all;

}

.category__link:hover{
    transform: scale(1.1);
}

.category__img{
    display: flex;
    justify-content: center;
    height: 100px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    overflow: hidden;
    border-radius: 8px;
}

.category__img img{
    width: 100%;
    object-fit: cover;
}

.category__img--large {
    height: 330px;
}